// $--app-color-primary: #cfbda5;
// $--app-color-gradient: #e5dcd2;
// $--app-color-word: #89755d;
// $--app-color-gray-3: #828282;
// $--app-color-green: #67895d;

$--app-color-primary: #96b7cf;
$--app-color-gradient: #aec5d6;
$--app-color-word: #3b5263;
$--app-color-gray-3: #828282;
$--app-color-green: #67895d;
$--app-color-brown: #cfbda5;